<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Reservar</servlet-name>
        <servlet-class>Menu.Reservar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarReserva</servlet-name>
        <servlet-class>Menu.BorrarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPago</servlet-name>
        <servlet-class>Menu.modificarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPago</servlet-name>
        <servlet-class>Menu.borrarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarInformacion</servlet-name>
        <servlet-class>Menu.modificarInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarInformacion</servlet-name>
        <servlet-class>Menu.borrarInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarHabitacion</servlet-name>
        <servlet-class>Menu.EliminarHabitacion</servlet-class>
    </servlet>
</web-app>
